@keyframes home-animation-upper {
    from {
        margin-left: -35%;
    }

    50% {
        margin-left: -4%;
    }
    to {
        margin-left: -35%;
    }
}

@keyframes home-animation-middle {
    from {
        margin-left: -31%;
    }

    50% {
        margin-left: 0;
    }
    to {
        margin-left: -31%;
    }
}
@keyframes home-animation-lower {
    from {
        margin-left: -37%;
    }

    50% {
        margin-left: -6%;
    }
    to {
        margin-left: -37%;
    }
}

@keyframes serviceAnimation {
    from {
        transform: translateX(-150%);
    }

    50% {
        transform: translateX(0);
    }

    to {
        transform: translateX(-150%);
    }
}
.container {
    width: 90vw;
    margin: 0 auto;
    display: flex;
}

.header.container {
    position: relative;
    flex-direction: row;
    height: 80vh;
    transition: 0.5s all ease-in-out;
}

.dot-container {
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.button {
    text-transform: capitalize;
    border-radius: 10px;
    background: #6321f9;
    padding: 1rem;
    font-size: 1.5rem;
}

.content-box__title {
    font-size: 4rem;
}

.content-box__text {
    font-size: 2rem;
    margin-top: 1%;
}

span.content-box__text {
    margin: 3% 0;
}

.image-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button.view {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    padding: 1rem 2rem;
}

.button-arrow {
    margin-left: 1rem;
    width: 0.8rem;
}
.right-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.left-column {
    width: 50%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
}

.section.container {
    margin-top: 5%;
    flex-direction: column;
}

.title {
    font-size: 3.5rem;
}

.text {
    font-size: 1.6rem;
    margin-bottom: 5%;
}
.items-container {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.background-service {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.item {
    width: 32%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.item span {
    margin-top: 21%;
}

.first {
    background: url("../../assets/images/service1.png") no-repeat;
    background-size: cover;
    /* animation-name: serviceAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
}
.second {
    background: url("../../assets/images/service2.png") no-repeat;
    background-size: cover;
}
.third {
    background: url("../../assets/images/service3.png") no-repeat;
    background-size: cover;
}

.service-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.7rem;
    text-align: center;
    color: #fff;
}

.slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 130vh;
    overflow: hidden;
}

.slide .row {
    width: 100%;
    height: 33%;
    display: flex;
    overflow-x: hidden;
}

.row img {
    height: 100%;
    margin-left: 1%;
    border-radius: 10px;
}

.upper img:first-child {
    margin-left: -4%;
    animation-name: home-animation-upper;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

.row.middle img:first-child {
    animation-name: home-animation-middle;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
.lower img:first-child {
    margin-left: -6%;
    animation-name: home-animation-lower;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
.view {
    padding: 1rem 3rem;
    align-self: center;
    margin-top: 2%;
}

.item-client {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #6321f9;
    position: relative;
    flex-direction: column;
    padding: 6% 3% 0.5rem 3%;
    flex-basis: 31%;
}

.apostrof {
    position: absolute;
    width: 15%;
}

.apostrof.left {
    right: 5px;
    bottom: 5px;
}

.apostrof.right {
    left: 5px;
    top: 5px;
}

.for-avatar {
    width: 3.5vw;
    height: 3.5vw;
    border-radius: 50%;
}

.comment {
    color: #fff;
    font-size: 1rem;
}
.user-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15%;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.user-info span {
    margin: 0;
}
.user-name {
    font-size: 1.1rem;
    color: #fff;
}

.user-login {
    font-size: 1rem;
    color: #fff;
}

.values-items-container {
    width: 32%;
    padding-left: 7%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.values-items-container:nth-child(n + 4) {
    margin-top: 5%;
}

.values-container {
    margin-top: 5%;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.values-icons {
    position: absolute;
    top: 1%;
    left: 5%;
    width: 15%;
}

.values-title {
    font-size: 1.3rem;
}

.values-text {
    font-size: 0.9rem;
}

.form-box {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form input {
    outline: 0;
    margin-top: 5%;
    width: 100%;
    color: #fff;
    border: 0;
    padding: 1%;
    padding-left: 0;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    font-size: 1.5rem;
}

.form-container {
    width: 90vw;
    margin: 5% auto;
    display: flex;
    flex-direction: row;
}

.image-box {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-box img {
    width: 70%;
}

.form-button {
    margin-top: 8%;
    padding: 0.7rem;
    background: #6321f9;
    align-self: flex-end;
    border-radius: 10px;
    font-size: 1.5rem;
}

.form-container.dark input {
    color: #fff;
}

.form-container.light input {
    color: #000;
    border-bottom: 1px solid #000;
}

.message {
    margin-top: 15%;
}

.slick-dots {
    bottom: 50%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.slick-dots li {
    margin: 5px 0;
}
.slick-dots li .dot {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6321f9;
}

.slick-dots li .dot .inner-dot {
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #6321f9;
    display: none;
}

.slick-dots .slick-active .dot .inner-dot {
    display: block;
}

@media screen and (max-width: 1200px) {
    .title {
        font-size: 2.5rem;
    }

    .content-box__title {
        font-size: 3rem;
    }

    .content-box__text {
        font-size: 1.5rem;
    }

    .button {
        font-size: 1rem;
    }

    .button.view {
        font-size: 1rem;
    }

    .form-button {
        font-size: 1rem;
    }
    .form input {
        font-size: 1rem;
    }

    .values-title {
        font-size: 1.2rem;
    }

    .values-text {
        font-size: 0.8rem;
    }

    .comment {
        font-size: 0.8rem;
    }

    .user-name {
        font-size: 0.9rem;
    }

    .user-login {
        font-size: 0.8rem;
    }

    .text {
        font-size: 1.4rem;
    }

    .items-container .item .service-title {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 600px) {
    .header-section {
        order: 1;
    }

    .service-section {
        order: 2;
    }

    .values-section {
        order: 3;
    }

    .works-section {
        order: 4;
    }

    .clients-section {
        order: 5;
    }

    .form-section {
        order: 6;
    }
    .header.container {
        flex-direction: column;
        height: 100vh;
    }

    .content-box {
        width: 100%;
        order: 2;
        padding-bottom: 6rem;
        height: fit-content;
    }

    .dot-container {
        flex-direction: row;
        bottom: 0;
        left: 0;
        height: fit-content;
        top: unset;
        width: 100%;
    }

    .content-box__title {
        font-size: 2rem;
    }
    .content-box__text {
        font-size: 1rem;
    }

    .content-box button {
        margin-top: 4%;
    }
    .image-container {
        width: 100%;
        flex-direction: column;
        height: 50%;
    }

    .title {
        font-size: 1.8rem;
    }

    .text {
        font-size: 1rem;
    }

    .items-container {
        justify-content: unset;
        overflow-x: hidden;
    }

    .items-container::-webkit-scrollbar {
        display: none;
    }

    .items-container .item {
        min-width: 200px;
        margin-left: 5%;
        /* transform: translateX(-150%); */
        animation-name: serviceAnimation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    }

    .items-container .item.first {
        margin: 0;
    }

    .carousel {
        width: 60%;
        margin: 0 auto;
        flex-basis: unset;
    }

    .item-client {
        padding: 6% 4%;
        height: 153px;
    }
    .for-avatar {
        width: 1.5rem;
        height: 1.5rem;
    }

    .comment {
        font-size: 0.5rem;
        margin-top: 5%;
        letter-spacing: 0.1rem;
    }

    .user-name {
        font-size: 0.8rem;
    }

    .user-login {
        font-size: 0.5rem;
    }

    .user-part {
        margin-top: 7%;
    }

    .left-arrow {
        position: absolute;
        left: 0;
        top: 45%;
    }

    .right-arrow {
        position: absolute;
        right: 0;
        top: 45%;
    }

    .values-items-container {
        padding-left: 12%;
        margin: 0 auto;
        width: 90%;
    }

    .values-container {
        position: relative;
        height: 150px;
    }

    .values-icons {
        top: 0;
        left: 0;
        width: 10%;
    }
    .values-title {
        font-size: 0.9rem;
    }

    .values-text {
        font-size: 0.8rem;
    }

    .image-box {
        display: none;
    }

    .service-title {
        font-size: 1rem;
    }

    .items-container .item {
        padding-bottom: 8%;
    }

    .section.container {
        margin-top: 2rem;
    }

    .form-container {
        margin-top: 20%;
    }
    .slick-dots {
        bottom: 0;
        right: 0;
        flex-direction: row;
        width: 100%;
    }

    .slick-dots li {
        margin: 0 5px;
    }

    .works-section .section.container {
        height: 100vh;
    }

    .button.view {
        padding: 0.5rem 1rem;
    }

    .button-arrow {
        width: 0.5rem;
    }

    .items-container .item .service-title {
        font-size: 1rem;
    }
}
