.portfolioinfo.container {
    flex-direction: column;
    margin-top: 77px;
}

.portfolio-main-image {
    width: 100%;
    height: 100%;
    margin: 3% 0;
}
.portfolio-info-part {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-container {
    margin-top: 3%;
}

.portfolio-info-part .info-part-items {
    width: 25%;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.portfolio-info-part .center {
    align-items: center;
}

.portfolio-info-part .end {
    align-items: flex-end;
}

.design-container {
    margin-top: 3%;
}
.design-image-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.design-image-container .design-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.design-image-container .design-item {
    width: 49%;
    margin-left: 2%;
}

.design-item:nth-child(odd) {
    margin: 0;
}

.design-item:nth-child(n + 3) {
    margin-top: 2%;
}
.design-image-container .design-item.last {
    width: 100%;
}

.similiar-container {
    margin-top: 6%;
}
.similiar-image-container {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.similiar-image-container .similiar-item {
    width: 49%;
}

.similiar-image-container .similiar-item:nth-child(n + 3) {
    margin-top: 2%;
}

.similiar-image-container .similiar-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-title {
    font-size: 1.9rem;
}

.content-text {
    font-size: 1.9rem;
}

@media (max-width: 1050px) {
    .content-title {
        font-size: 1.5rem;
    }

    .content-text {
        font-size: 1.5rem;
    }

    .portfolio-info-part .info-part-items{
        font-size: 1.3rem;
    }
}
@media (max-width: 600px) {
    .portfolioinfo.container{
        margin-top: 22px;
    }
    .portfolio-info-part {
        /* width: 100%; */
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .portfolio-info-part .info-part-items {
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 2%;
        font-size: .9rem;
    }

    .portfolio-info-part .info-part-items:first-child {
        margin-top: 0;
    }

    .content-title {
        font-size: .8rem;
    }

    .content-text {
        font-size: .8rem;
    }
}
